<div class="create">
  <div class="wrapper">
    <h2 class="special">
      Real-time charts you can share and embed.
    </h2>
    <%= link_to "Create your own!", new_chart_path, :class => "create-button"  %>
  </div>
</div>

<% if @charts.present? %>
  <div class="havechart">
    <div class="wrapper">
      <p style="text-align:center; margin:10px;">
        You have already made some charts.
        <%= link_to "Click here to view them.", charts_path %>
      </p>
    </div>
  </div>
<% end %>

<div class="hero">
  <div class="wrapper">
    <div class="process">
      <%= image_tag "process/rest.png", :title => "POST data to Simulchart with our easy to use API.", :class => "popup" %>
      <%= image_tag "process/arrow.png", :alt => "->", :class => "arrow" %>

      <%= image_tag "process/simulchart.png", :title => "Our application does its magic.", :class => "popup" %>
      <%= image_tag "process/arrow.png", :alt => "->", :class => "arrow" %>

      <%= image_tag "process/embed.png", :title => "Embed the javascript code onto your web site.", :class => "popup" %>
      <%= image_tag "process/arrow.png", :alt => "->", :class => "arrow" %>

      <%= image_tag "process/chart.png", :title => "You get your own customized chart that updates in realtime!", :class => "popup" %>
    </div>
    <div class="demo-chart">
      <%= image_tag "overlay/justin.png" %>
      <%= chart_embed(@bieber) %>
      <%= link_to "View Source", gist_bieber_path, :class => "source" %>
    </div>
  </div>
</div>

<div class="features">
  <div class="wrapper">
    <h3>
      Features
    </h3>
    <div class="col">
      <h5>Embed Anywhere</h5>
      <p>Put charts wherever you like! We make the chart publicly available for you and your friends to use anywhere.</p>

      <h5>Simple API</h5>
      <p>Using REST API - we make it easy to post your new data to our chart service. You can add data through the chart form or POST it over HTTP using your favorite web tool. Our favorite is curl.</p>

      <h5>Works in IE</h5>
      <p>We made the impossible &mdash; possible.</p>
    </div>

    <div class="col">
      <h5>Real-Time</h5>
      <p>Post your data to our service and we will update the graph in real-time.</p>

      <h5>Anyone Can Update It</h5>
      <p>You and your programming pals can all play along during recess! Just give them the URL to the form. Everyone will see each other's updates in real time.
</p>
    </div>
  </div>
</div>

<div class="content">
  <div class="wrapper">
    <h3>DEMOS</h3>
    <p>
      We have made a few example demos for your enjoyment.
      <%= link_to "Check them out!", demos_path %>
    </p>
    <div class="col">
      <%= image_tag 'demo/demo1.png', :style => "margin: 0 auto; display: block;" %>
      <%= link_to "View Demos", demos_path, :class => "demo-link" %>
    </div>
    <div class="col">
      <%= image_tag 'demo/demo2.png', :style => "margin: 0 auto; display: block;" %>
      <%= link_to "View Demos", demos_path, :class => "demo-link" %>
    </div>
  </div>
</div>
