<!DOCTYPE html>
<html>
<head>
  <title>Simulchart</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <div class="header">
    <div class="wrapper">
      <%= link_to "Simulchart", root_path, :class => "title" %>
      <% if current_user %>
        <%= link_to "Signout", signout_path, :class => "navigation" %>
      <% else %>
      <% end %>
      <%= link_to "@simulchart", twitter_path, :class => "twitter navigation", :target => "_blank" %>
    </div>
  </div>

  <%= yield %>

  <div class="credit">
    <div class="wrapper">
      <div class="col">
        <span>Made with:</span>
        <%= image_tag "made/raphael.png", :alt => "Raphaël.js" %>
      </div>
      <div class="col">
        <span>
          Built by:
          <%= link_to "Mat Schaffer", mat_path %>,
          <%= link_to "Trotter Cashion", trotter_path %>,
          <%= link_to "Steve Berry", steve_path %>
        </span>
      </div>
    </div>
  </div>

  <%= render :partial => "shared/javascript" %>

  <%= javascript_tag do %>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18247689-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  <% end %>
</body>
</html>
